---
title: Alto Mission Control Project 

language_tabs: # must be one of https://git.io/vQNgJ
  - shell 
  - javascript

toc_footers:
  - <a href='#'>Sign Up for a Developer Key</a>
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the Alto Mission Control (MC) documenation! This documentation will describe the setup instructions and requirements for the Mission Control system developed as part of the July Alto Training Program.

# Setup Guide

The Alto Mission Control supports two deployment methods. Local and AWS.

Requirements: Node.js
              Space-track.org account

> To Setup, use this code:

```shell 
# With shell, you can just pass the correct header with each request
git clone https://github.com/altojulyspaceproject/Alto-July-Space-Project.git

cd Alto-July-space-Project.git
npm install
npm start

```

# Usage

There are two main use cases for the MC software developed. 
NASA openMCT usage
Direct Page Usage

Using openMCT:
1. Using web browser navigate to localhost:8080
2. Create a new webpage using openMCT modues
3. Add 'UserInput.html' as webpage module.

Using Direct Page 
1. Browse to localhost:8080/UserInput.html

Once navigated to, login using spacetrack account
Enter NORAD ID to be tracked e.g. 25544 for ISS 

Press 'Track'




# Ground Station Tracking (Hamlib Library)

Include some details about the bash scripts here



# Software Architecture 

Insert some photos 


 
<%= image_tag "images/AMCP-Component-Diagram.jpeg" %>
